__pycache
.vs
output_images/*.*
4/face_rtacker.py
4/superpixels.py
5/cnn_tensorflow.py
5/tensorflow_tips.py
#.gitattributes
#weights/7/inceptionv3/inceptionv3.pb
#weights/7/mobilenet/mobilenetv2.pb
#weights/7/resnet/resnet152.pb
weights/8/yolo/YOLOv5s.onnx
*.pyc
weights/9/face_detection_yunet_2023mar.onnx
weights/9/face_recognition_sface_2021dec.onnx
weights/9/text_detection_DB_TD500_resnet18_2021sep.onnx
weights/9/*.onnx
lfw/*.*
lfw/*
.vscode